[Scheme]
Name=bitzdots

[ColorEffects:Disabled]
ColorAmount=0
ColorEffect=0
ContrastAmount=0
ContrastEffect=0
IntensityAmount=0
IntensityEffect=0

[ColorEffects:Inactive]
ColorAmount=0
ColorEffect=0
ContrastAmount=0
ContrastEffect=0
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{color8 | strip}}
BackgroundNormal={{color8 | strip}}
DecorationFocus={{color1 | strip}}
DecorationHover={{color4 | strip}}
ForegroundAlternate={{color7 | strip}}
ForegroundNormal={{foreground | strip}}

[Colors:Complementary]
BackgroundAlternate={{color8 | strip}}
BackgroundNormal={{color0 | strip}}
DecorationFocus={{color1 | strip}}
DecorationHover={{color4 | strip}}
ForegroundAlternate={{color7 | strip}}
ForegroundNormal={{foreground | strip}}

[Colors:Header]
BackgroundAlternate={{color1 | strip}}
BackgroundNormal={{color1 | strip}}
DecorationFocus={{color4 | strip}}
DecorationHover={{foreground | strip}}
ForegroundAlternate={{foreground | strip}}
ForegroundNormal={{foreground | strip}}

[Colors:Selection]
BackgroundAlternate={{color8 | strip}}
BackgroundNormal={{color1 | strip}}
DecorationFocus={{color4 | strip}}
DecorationHover={{color4 | strip}}
ForegroundAlternate={{foreground | strip}}
ForegroundNormal={{foreground | strip}}

[Colors:Tooltip]
BackgroundAlternate={{color8 | strip}}
BackgroundNormal={{color0 | strip}}
DecorationFocus={{color1 | strip}}
DecorationHover={{color4 | strip}}
ForegroundAlternate={{color7 | strip}}
ForegroundNormal={{foreground | strip}}

[Colors:View]
BackgroundAlternate={{color8 | strip}}
BackgroundNormal={{color0 | strip}}
DecorationFocus={{color1 | strip}}
DecorationHover={{color4 | strip}}
ForegroundAlternate={{color7 | strip}}
ForegroundNormal={{foreground | strip}}

[Colors:Window]
BackgroundAlternate={{color8 | strip}}
BackgroundNormal={{color0 | strip}}
DecorationFocus={{color1 | strip}}
DecorationHover={{color4 | strip}}
ForegroundAlternate={{color7 | strip}}
ForegroundNormal={{foreground | strip}}
