[Scheme]
Name=bitzdots

[ColorEffects:Disabled]
ColorAmount=0
ColorEffect=0
ContrastAmount=0
ContrastEffect=0
IntensityAmount=0
IntensityEffect=0

[ColorEffects:Inactive]
ColorAmount=0
ColorEffect=0
ContrastAmount=0
ContrastEffect=0
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{color8 | rgb}}
BackgroundNormal={{color8 | rgb}}
DecorationFocus={{color1 | rgb}}
DecorationHover={{color4 | rgb}}
ForegroundAlternate={{color7 | rgb}}
ForegroundNormal={{foreground | rgb}}

[Colors:Complementary]
BackgroundAlternate={{color8 | rgb}}
BackgroundNormal={{color0 | rgb}}
DecorationFocus={{color1 | rgb}}
DecorationHover={{color4 | rgb}}
ForegroundAlternate={{color7 | rgb}}
ForegroundNormal={{foreground | rgb}}

[Colors:Header]
BackgroundAlternate={{color1 | rgb}}
BackgroundNormal={{color1 | rgb}}
DecorationFocus={{color4 | rgb}}
DecorationHover={{foreground | rgb}}
ForegroundAlternate={{foreground | rgb}}
ForegroundNormal={{foreground | rgb}}

[Colors:Selection]
BackgroundAlternate={{color8 | rgb}}
BackgroundNormal={{color1 | rgb}}
DecorationFocus={{color4 | rgb}}
DecorationHover={{color4 | rgb}}
ForegroundAlternate={{foreground | rgb}}
ForegroundNormal={{foreground | rgb}}

[Colors:Tooltip]
BackgroundAlternate={{color8 | rgb}}
BackgroundNormal={{color0 | rgb}}
DecorationFocus={{color1 | rgb}}
DecorationHover={{color4 | rgb}}
ForegroundAlternate={{color7 | rgb}}
ForegroundNormal={{foreground | rgb}}

[Colors:View]
BackgroundAlternate={{color8 | rgb}}
BackgroundNormal={{color0 | rgb}}
DecorationFocus={{color1 | rgb}}
DecorationHover={{color4 | rgb}}
ForegroundAlternate={{color7 | rgb}}
ForegroundNormal={{foreground | rgb}}

[Colors:Window]
BackgroundAlternate={{color8 | rgb}}
BackgroundNormal={{color0 | rgb}}
DecorationFocus={{color1 | rgb}}
DecorationHover={{color4 | rgb}}
ForegroundAlternate={{color7 | rgb}}
ForegroundNormal={{foreground | rgb}}
