[Unit]
Description=Wallust wallpaper palette cache daemon
Documentation=https://github.com/explosion-mental/wallust
After=network.target

[Service]
Type=simple
ExecStart=%h/.config/wallust/wallust-cache-daemon.sh
Restart=on-failure
RestartSec=5
Nice=19
IOSchedulingClass=idle

[Install]
WantedBy=default.target
